@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');


.initiatives-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 80px 20px;
  font-family: 'Instrument Sans';
  color: #ECEAF4;
  min-height: 100vh;
  box-sizing: border-box; 
}

.initiatives-header {
  text-align: left; 
  font-family: "Instrument Sans";
  margin-bottom: 50px;
  font-weight: 500;
  line-height: normal;
  margin-left: 338px;
  max-width: 1200px; 
  width: 100%;
}

.initiatives-header h2 {
  color: #ECEAF4;
  text-align: justify;
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.initiatives-header .subtitle {
  color: rgba(236, 234, 244, 0.80);
  text-align: justify;
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding-left: 272px;
  margin-top: 28px;
}

.initiatives-header .subtitle span {
  display: inline-block;
  width: 95.917px;
  height: 2px;
  background-color: #a0a0a0;
  vertical-align: middle;
  margin: 0 10px;
}

.initiatives-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); 
  gap: 12px;
  max-width: 1200px;
  width: 100%;
}

.initiative-card {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  aspect-ratio: 3 / 4;
}

.initiative-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: default;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box; 
}

.card-overlay h3 {
  margin: 0;
  text-align: justify;
  font-family: "Instrument Sans";
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 86.962%;
  color:grey;
}

.card-button {
  display: inline-flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 32px;
  background: #D8E3FD;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.20), 0 2px 6px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  position: absolute;
  bottom: 24px;
  right: 20px;
}

.main-know-more-button {
  display: flex;
  padding: 24px 40px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 32px;
  border: 0.75px solid #CACACA;
  background: #5C35F7;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.20), 0 2px 6px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-size: 18px;
  color: white;
  margin-top: 84px; 
}
